<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head"); %>
    <script src ="/javascripts/ballingFunctionalities.js"></script>
    <link rel='stylesheet' href='/stylesheets/balling.css'/>
  </head>
  <body>

    <%- include("./partials/header"); %>
      <div class="container" style=";">
      <h1 class="welcome-title d-flex justify-content-center">See who has an advantage!</h1>
      <p class="d-flex justify-content-center">Welcome </p>
      
      <div class="row">
        <div class="col-sm-4 column" style="min-height: 100px;">
          <div class="column-header">
            <div class="actual-header">
              <span for="column-header"><%= leftManager %></span>
            </div>
          </div>
          
          <% for (let i=0; i < numCategories ; i++) { %>
          <div class="categories">    
            <span class="left-team-data">
              <%= leftTeam[i] %>
            </span>
          </div>
          <% }; %>    
          <div class="left-total-wins categories">

          </div>
        </div>
        <div class="col-sm-1"></div>  
        <div class="col-sm-2 column" style="">
          <div class="column-header">
            <div>
              <span for="column-header">Categories</span>
            </div>
          </div>
          
          <% for (let i=0; i < numCategories ; i++) { %>
          <div class="categories">
            <div>
              <strong><%= statCategories[i] %></strong>
            </div>
          </div>
          <% }; %>
          <div class="categories">
            <strong>Total Wins</strong>
          </div>
          <a id="backIndex" class="btn btn-danger" style="" href="/">Return to Index Page</a>
        </div>
        <div class="col-sm-1" ></div>
        <div class="col-sm-4 column" style=" padding-bottom: 60px;">
          <div class="column-header">
            <div>
              <span for="column-header"><%= rightManager %></span>
            </div>
          </div>
          <% for (let i=0; i < numCategories ; i++) { %>
          <div class="categories">
            <div>
              <span class="right-team-data">
              <%= rightTeam[i] %>
              </span>
            </div>
          </div>
          <% }; %>
          <div class="right-total-wins categories">
          </div>
        </div>
      </div>

 

    </div>
  </body>
</html>

