<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head"); %>
    <script src ="/javascripts/autocomplete.js"></script>
    <script src ="/javascripts/indexFunctionalities.js"></script>
  </head>
  <body>

    <%- include("./partials/header"); %>
      <div class="container" style=";">
      <h1 class="welcome-title d-flex justify-content-center">See who has an advantage!</h1>
      <p class="d-flex justify-content-center">Welcome to <%= title %></p>


      <form autocomplete="off" action="/" method="POST">     
        <div class="row">
          <div class="col-sm-4" style="min-height: 100px;">
            <%- include("./functions/createInputsColumnOne"); %>
          </div>
          <div class="col-sm-1"></div>  
          <div class="col-sm-2 justify-content-center d-flex" style="">
            <input type="submit" class='btn btn-primary' style="height:40px; position:absolute; bottom:0;" value="Submit">
          </div>
          <div class="col-sm-1" ></div>
          <div class="col-sm-4" style=" padding-bottom: 60px;">
              <%- include("./functions/createInputsColumnTwo"); %>
          </div>
        </div>
        </div>
      </form>

    </div>
  </body>

</html>

